.kebabMenu {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--bg-content);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  font: 400 18px "Poppins";
  position: absolute;
  right: -160px;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: var(--text-main);

  @media (max-width: 1400px) {
    right: auto;
    left: 18px;
  }

  & p {
    padding: 8px 16px;
    margin: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-menu-link-hover);
      border-radius: 8px;
    }
  }
}

@media (max-width: 768px) {
  .kebabMenu {
    top: auto;
    bottom: 10%;
    margin-bottom: 8px;
    transform: translateX(-30%);
    right: 0;
    left: auto;
    z-index: 100;
  }
}
