.errorContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .crossIcon {
    width: 95px;
    height: 95px;
    color: var(--text-main);
  }
  & h1,
  p {
    font:
      600 3.75rem "Inter",
      sans-serif;
    color: var(--text-main);
  }
}
