.notificationContainer {
  position: fixed;
  bottom: 24px;
  right: 44px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10000;
  width: 100%;
  max-width: 320px;
  & .notificationItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px;
    border-radius: 8px;
    animation: slideIn 0.3s ease-out forwards;
    & .message {
      font:
        400 1.125rem "Poppins",
        sans-serif;
      word-break: break-word;
    }
    & .closeBtn {
      background: transparent;
      border: none;
      color: var(--pop-up-text-main);
      cursor: pointer;
      transition: color 0.2s;
      font-size: 1.5rem;
      line-height: 1;
    }
  }
  & .success {
    background-color: var(--pop-up-success);
    color: var(--pop-up-text-main);
  }

  & .warning {
    background-color: var(--pop-up-warning);
    color: var(--pop-up-text-secondary);
  }

  & .error {
    background-color: var(--pop-up-error);
    color: var(--pop-up-text-main);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .notificationContainer {
    top: auto;
    bottom: 16px;
    right: 16px;
    left: 16px;
    max-width: calc(100% - 32px);
  }
}
