.cardWrapper {
  background-color: var(--bg-ui-elements);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 18px;
  position: relative;
  width: 280px;

  & .nodeTitle {
    color: var(--text-main);
    font: 600 20px "Inter";
    margin-bottom: 16px;
  }

  :global([data-theme="dark"]) & .kebabButton img {
    filter: invert(1);
  }

  & .kebabButton {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;

    &:hover {
      background-color: var(--bg-hover);
      border-radius: 4px;
    }

    & img {
      width: 20px;
      height: 20px;
    }
  }
}
