@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    backdrop-filter 0.3s ease;
}

:root {
  --bg-page: rgba(255, 255, 255, 1);
  --bg-content: rgb(255, 255, 255);
  --bg-modal: rgba(250, 250, 250, 1);
  --bg-layout-edge: rgba(250, 250, 250, 1);
  --text-main: rgba(37, 36, 34, 1);
  --text-secondary: rgba(102, 112, 133, 1);
  --form-text-color: rgba(27, 32, 55, 1);
  --text-modal-button: rgb(255, 255, 255);
  --accent-color: rgba(255, 136, 17, 1);
  --slider-color: rgb(255, 255, 255);
  --btn-hover: rgba(8, 185, 78, 1);
  --btn-active: rgba(98, 54, 204, 1);
  --btn-disabled: rgba(188, 195, 227, 1);
  --border-color: rgba(224, 226, 231, 1);
  --bg-menu-link-hover: rgba(240, 241, 243, 1);
  --overlay-color: rgba(0, 0, 0, 0.5);
  --modal-overlay: rgba(27, 32, 55, 0.5);
  --input-error: rgba(255, 85, 74, 1);
  --input-success: rgba(255, 136, 17, 1);
  --input-focus: rgba(122, 68, 255, 1);
  --input-disabled-color: rgba(157, 166, 203, 1);
  --bg-input-disabled: rgba(188, 195, 227, 1);
  --form-policy-text: rgba(102, 112, 133, 1);
  --pop-up-success: rgba(255, 136, 17, 0.8);
  --pop-up-error: rgba(255, 85, 74, 0.8);
  --pop-up-warning: rgba(255, 193, 74, 1);
  --pop-up-text-main: rgba(255, 255, 255, 1);
  --pop-up-text-secondary: rgba(27, 32, 55, 1);
  --stat-color: rgba(21, 26, 45, 1);
}

[data-theme="dark"] {
  --bg-page: rgb(14, 18, 35);
  --bg-content: rgb(21, 26, 45);
  --bg-modal: rgb(27, 32, 55);
  --bg-layout-edge: rgb(27, 32, 55);
  --border-color: rgb(36, 42, 70);
  --text-main: rgb(188, 195, 227);
  --text-secondary: rgb(135, 145, 183);
  --form-text-color: rgb(188, 195, 227);
  --form-policy-text: rgb(135, 145, 183);
  --bg-menu-link-hover: rgb(47, 55, 87);
  --modal-overlay: rgba(14, 18, 35, 0.85);
  --slider-color: rgb(255, 136, 17);
  --stat-color: rgb(135, 145, 183);
}
