.mainPageWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-page);
  color: var(--text-main);
  min-height: 100vh;

  & .contentWrapper {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  & .pageContent {
    display: flex;
    max-width: 1600px;
    flex: 1;
    gap: 48px;
    padding: 24px 24px 0px 24px;
  }
}

.mainContent {
  max-width: 1274px;
  margin: 0 auto;
  background-color: var(--bg-page);
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .pageContent {
    padding: 16px;
    gap: 0;
  }

  .sidebar {
    display: none;
  }

  .mainContent {
    width: 100%;
    flex: none;
  }
}
