.customButton {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 14px 48px;
  font: 400 14px "Poppins";
  color: var(--text-main);
  cursor: pointer;
  transition: background-color 0.2s;
  box-sizing: border-box;
  width: auto;
}

.customButton:hover {
  background-color: var(--btn-hover);
}

.customButton:active {
  background-color: var(--btn-active);
}

.customButton:disabled{
  background-color: var(--btn-disabled);
}

:global(.authForm) .customButton {
  width: 100%;
}

.customButton.modalButton {
  color: var(--bg-page);
}
