.authPageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-page);
}
.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100% !important;
  padding: 10px;
  & .authCard {
    width: 100% !important;
    max-width: 375px;
    & h1 {
      text-align: center;
      font:
        600 1.125rem "Poppins",
        sans-serif;
      color: var(--form-text-color);
    }
    & .subtitle {
      text-align: center;
      font:
        400 0.875rem "Poppins",
        sans-serif;
      color: var(--form-text-color);
      margin: 2px auto 24px;
      max-width: 221px;
      display: flex;
      justify-content: center;
    }
    & .authForm {
      & input {
        width: 100%;
      }
      & .submitButton {
        width: 100%;
      }
    }
    & .policyText {
      text-align: center;
      font:
        400 0.75rem "Inter",
        sans-serif;
      color: var(--form-policy-text);
      margin-top: 24px;
      & span {
        color: var(--form-text-color);
      }
    }
    & .errorText {
      text-align: center;
      font:
        400 0.875rem "Poppins",
        sans-serif;
      color: var(--input-error);
      margin-top: 16px;
    }
    & .footerText {
      text-align: center;
      font:
        400 0.875rem "Poppins",
        sans-serif;
      color: var(--form-text-color);
      margin-top: 24px;
      & .link {
        text-decoration: underline;
        text-decoration-line: var(--form-text-color);
        color: var(--form-text-color);
      }
    }
  }
}
