.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.noteCardsWrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
}

.noteCardsWrapper.listView {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.noteCardsWrapper.listView > div {
  width: 100%;
  max-width: 800px;
}

.profileCard {
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 24px;
  & .actions {
    display: flex;
    flex-direction: column;
    gap: 44px;
    & .actionsTitle {
      font:
        600 1.75rem "Inter",
        sans-serif;
      color: var(--text-main);
    }
  }
}

.userInfo {
  display: flex;
  gap: 45px;
}

.zeroActiveNotes {
  font:
    600 1.75rem "Poppins",
    sans-serif;
  color: var(--text-main);
}

@media (max-width: 1040px) {
  .buttonWrapper {
    justify-content: center;
    margin-bottom: 24px;
  }

  .buttonWrapper button {
    width: 80%;
    max-width: 300px;
  }

  .noteCardsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .noteCardsWrapper > div {
    width: 100%;
  }
  .errorPageWrapper .errorContent {
    & img {
      width: 80px;
      height: 73px;
    }
    & h1,
    p {
      font:
        600 1.25rem "Inter",
        sans-serif;
    }
  }
}

@media (max-width: 768px) {
  .profileCard {
    flex-direction: column;
    gap: 32px;
    padding: 16px;
  }

  .profileCard .actions {
    gap: 16px;
    order: -1;
  }

  .profileCard .actions .actionsTitle {
    font-size: 1.375rem;
  }
}
