.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.noteCardsWrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
}

.noteCardsWrapper.listView {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.noteCardsWrapper.listView > div {
  width: 100%;
  max-width: 700px;
}

.profileCard {
  background-color: var(--bg-page);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 45px;
  & .actions {
    display: flex;
    flex-direction: column;
    gap: 44px;
    & .actionsTitle {
      font: 600 28px "Inter";
      color: var(--text-main);
    }
  }
}

.logoutButton {
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1040px) {
  .buttonWrapper {
    justify-content: center;
    margin-bottom: 24px;
  }

  .buttonWrapper button {
    width: 80%;
    max-width: 300px;
  }

  .noteCardsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .noteCardsWrapper > div {
    width: 100%;
  }
  .errorPageWrapper .errorContent {
    & img {
      width: 80px;
      height: 73px;
    }
    & h1,
    p {
      font: 600 20px "Inter";
    }
  }
}
