.nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font:
    400 1.125rem "Poppins",
    sans-serif;
  color: var(--text-main);
  & .navItem {
    padding: 8px;
    width: 288px;
    @media (max-width: 1040px) {
      width: 90%;
      margin: 0 15px;
    }
    text-decoration: none;
    cursor: pointer;
    color: var(--text-main);
  }

  & .navItem:hover,
  .navItem.active {
    background-color: var(--bg-menu-link-hover);
    border-radius: 8px;
  }
}
