& .inputGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  & .label {
    display: flex;
    gap: 8px;
    align-items: center;
    & p {
      font: 500 14px 'Poppins';
    }
    & img {
      width: 16px;
      height: 16px;
      :global([data-theme='dark']) & {
        filter: invert(1);
      }
    }
  }
  & textarea {
    background-color: var(--bg-ui-elements);
    color: var(--additional-elements-color);
    border-radius: 8px;
    padding: 14px;
    font: 400 14px 'Poppins';
    border: 1px solid var(--border-color);
    width: 100%;
    resize: none;
  }
}
