.footer {
  background-color: var(--bg-ui-elements);
  padding: 12px 24px;
  text-align: center;
  color: var(--accent-color);
  font: 400 18px 'Poppins';
  flex-shrink: 0;

  & p {
    max-width: 1600px;
    margin: 0 auto;
  }
}
