@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_28pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_18pt-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter/static/Inter_24pt-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-page: rgba(255, 255, 255, 1);
  --bg-content: rgb(255, 255, 255);
  --bg-modal: rgba(250, 250, 250, 1);
  --bg-layout-edge: rgba(250, 250, 250, 1);
  --text-main: rgba(37, 36, 34, 1);
  --text-secondary: rgba(102, 112, 133, 1);
  --form-text-color: rgba(27, 32, 55, 1);
  --text-modal-button: rgb(255, 255, 255);
  --accent-color: rgba(255, 136, 17, 1);
  --btn-hover: rgba(8, 185, 78, 1);
  --btn-active: rgba(98, 54, 204, 1);
  --btn-disabled: rgba(188, 195, 227, 1);
  --border-color: rgba(224, 226, 231, 1);
  --bg-menu-link-hover: rgba(240, 241, 243, 1);
  --overlay-color: rgba(0, 0, 0, 0.5);
  --modal-overlay: rgba(27, 32, 55, 0.5);
  --input-error: rgba(255, 85, 74, 1);
  --input-success: rgba(255, 136, 17, 1);
  --input-focus: rgba(122, 68, 255, 1);
  --input-disabled-color: rgba(157, 166, 203, 1);
  --bg-input-disabled: rgba(188, 195, 227, 1);
  --form-policy-text: rgba(102, 112, 133, 1);
}

[data-theme="dark"] {
  --bg-page: rgb(11, 14, 20);
  --bg-content: rgb(21, 25, 33);
  --bg-modal: rgb(33, 31, 31);
  --bg-layout-edge: rgb(54, 56, 58);
  --bg-menu-link-hover: rgb(54, 56, 58);
  --text-main: rgb(240, 241, 243);
  --form-text-color: rgb(228, 234, 247);
  --text-secondary: rgb(148, 155, 166);
  --border-color: rgb(45, 50, 61);
  --modal-overlay: rgb(45, 50, 61);
  --form-policy-text: rgba(188, 195, 227, 1);
}
