.authPageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-page);
}
.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  & .authCard {
    width: 375px;
    & h1 {
      text-align: center;
      font: 600 18px 'Poppins';
      color: var(--ui-text-color);
    }
    & .subtitle {
      text-align: center;
      font: 400 14px 'Poppins';
      color: var(--ui-text-color);
      margin: 2px auto 24px;
      max-width: 221px;
      display: flex;
      justify-content: center;
    }
    & .authForm {
      & input {
        width: 100%;
      }
      & button {
        width: 100%;
      }
    }
    & .policyText {
      text-align: center;
      font: 400 12px 'Inter';
      color: var(--additional-elements-color);
      margin-top: 24px;
      & span {
        color: var(--ui-text-color);
      }
    }
    & .errorText {
      text-align: center;
      font: 400 14px 'Poppins';
      color: var(--input-error);
      margin-top: 16px;
    }
    & .footerText {
      text-align: center;
      font: 400 14px 'Poppins';
      color: var(--ui-text-color);
      margin-top: 24px;
      & .link {
        text-decoration: underline;
        text-decoration-line: var(--ui-text-color);
        color: var(--ui-text-color);
      }
    }
  }
}
