.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-main);
  text-align: center;

  & .signIn {
    font: 400 2.25rem "Poppins";

    @media (max-width: 768px) {
      font-size: 1.75rem;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
    }

    & a {
      text-decoration: underline;
      cursor: pointer;
      color: var(--text-main);
    }
  }

  & .signUp {
    font: 400 1rem "Poppins";
    & a {
      text-decoration: underline;
      cursor: pointer;
      color: var(--text-main);
    }
  }
}
